RewriteEngine On
RewriteCond %{REQUEST_URI} ^/admin/(.*)
RewriteRule ^(.*)$ admin/index.php [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]

#order deny,allow
#deny from all
#allow from 77.121.118.152

